@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Kanit:wght@300&family=Nova+Square&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-color: #3a3a3a;
    
}

header {
    display: flex;
    justify-content: space-between;
    height: 130px;

}

header .img-logo {
    margin: 2rem;
    display: flex;
    align-items: center;
}

header .img-logo img {
    object-fit: cover;
    width: 250px;
    height: 100px;
}

header .login-btn button {
    width: 110px;
    height: 55px;
    border-radius: 13px;
    font-weight: bold;
    font-size: 20px;
    border: solid 1px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เงา */
    background-color: #ffc107; /* ใช้สีเดียวกับ .dropbtn */
    color: 000; /* ใช้สีข้อความขาว */
    transition: background-color 0.3s ease; /* เพิ่ม transition เพื่อทำให้การเปลี่ยนสีมีเอฟเฟกต์ */
}

header .login-btn button a{
    text-decoration: none;
}

header .login-btn button:hover {
    background-color: #ffca28; /* เปลี่ยนสีเมื่อ hover */
}



.drop{
    margin: 4.2rem 10rem 0 0;
}

.dropbtn {
    background-color: #ffc107; /* สีเหลืองสว่าง */
    color: #000; /* สีข้อความ */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px; /* ขอบโค้ง */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เงา */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333; /* สีพื้นหลัง */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff; /* สีข้อความเริ่มต้น */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* ทำให้มีการเปลี่ยนสีอย่างนุ่มนวล */
    font-size: 16px; /* ขนาดตัวอักษร */
}

.dropdown-content a:hover {
    background-color: #ffecb3; /* สีพื้นหลังเมื่อ hover */
    color: #000; /* สีข้อความเมื่อ hover */
}

.dropbtn:hover {
    background-color: #ffca28; /* สีเหลืองสว่างเข้มเมื่อ hover */
}

/*---------------------------------header-----------------------------------------*/
/*---------------------------------header-----------------------------------------*/
/*---------------------------------header-----------------------------------------*/
/*---------------------------------header-----------------------------------------*/

.list-weapon {

    height: 120px;
    width: 720px;
    border-bottom:#ccc solid 1px ;

    & ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        list-style: none;

        & li {
            display: flex;
            align-items: end;
            height: 120px;
            padding-bottom: 1.3rem;
            font-weight: bold;
            cursor: pointer;
            font-size: 20px;

        }
    }
}

.list-weapon ul a{
    text-decoration: none;
    color: #fff;

}

.list-weapon-gun:hover {
    border-bottom:#EB9D0B solid 5px ;
    transition: .2s;
    text-shadow: 0px 1px 16px rgba(255,255,255,0.9);
}

/*---------------------------------nav-----------------------------------------*/
/*---------------------------------nav-----------------------------------------*/
/*---------------------------------nav-----------------------------------------*/
/*---------------------------------nav-----------------------------------------*/
article{
    min-height: 100vh;
}

h1 {
    margin-top: 5rem;
    color: #fff;
    font-weight: bold;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.container{
    margin: 7rem auto;
    background-color:#292727;
    width: 700px;
    min-height: 500px;
    border-radius:30px ;
    display: flex;
    justify-content: center; /* จัดให้ .box อยู่ตรงกลาง */
}


.profile_info{
    margin-top: 2rem;
    padding: .5rem .5rem;
    background-color: #323131;
    display: flex;
    width: 350px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_info p{
    padding-left: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.edit-profile {
    position: absolute;
    margin-top: 3rem;
    margin-left: 20rem;
}

footer {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
}

.footer-info p {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}